<!doctype html>
<html>
  <head>
    <title>Training/Testing</title>
  </head>
  <body>
    <h1>Training: Upload the regression_training.csv file</h1>
    <form method="POST" action="" enctype="multipart/form-data" accept=".csv">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <br>
    <p style="color:green;">File uploaded successfully</p>
    {{ data_var|safe }}


    <h1>Training: Upload the regression_test.csv file</h1>
    <form method="POST" action="/test_data" enctype="multipart/form-data" accept=".csv">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    {{ data_var2|safe }}
  </body>
</html>